html {
    font-size: calc(15px + 0.390625vw);
}
body{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*=====================================
header
=======================================*/
header{
text-align: center;
}
header nav ul li {
    margin: 10px 0 10px 0;
    color: black;
    text-decoration: none;
}
header nav ul li a {
     color: black;
    text-decoration: none;
}
/*====================
banner
====================== */
section.banner {
    text-align: center;
    margin: 0 5vw 0 5vw;
}
section.banner h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0 0;
}
section.banner p {
    margin: 10px 0 10px 0;
    line-height: 1.1rem;
}
section.banner p button {
    color: #ffffff;
    background-color: #FF6464;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    padding: 10px 20px 10px 20px ;
}
/*====================
posts
====================== */

section.posts{
    background-color: #EDF7FA;
    pad: 5vw  4vw 5vw 4vw;
}
 section.posts h2 {
    text-align: center;
 }
 section.posts ul li {
    background-color:White;
    margin: 2vw 0 2vw 0;
    padding: 3vw 3vw 3vw ;
    box-shadow: 0 2px 5px lightsteelblue;
 }
 section.posts ul li h3 {
    font-weight: bold;
    font-size: 1.3rem ;
 }
 section.posts ul li p {
    padding: 2vw 0 2vw 0;
    font-size: 1rem;
 }
 /*====================
works
====================== */
section.works{
    padding: 35vw 3vw 5vw 3vw;
}
section.works h2 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}
section.works ul li h3 {
    font-weight: bold;
    font-size: 1.7rem;
    margin : 18px 0 10px 0
}
section.works li p span {
    background-color: #142850;
    color: white;
    border-radius: 8px;
    padding: 3px 6px 3px 6px;
}
section.works ul li p.info {
    color: #8695a4;
}
section.works ul li p {
    margin: 5px 0px 5px 0px;
    line-height: 1.5rem;
}
/*====================
footer
====================== */
footer {
    text-align: center;
    padding: 15px 0px 15px 0px;
}
footer nav a {
    color: #212430;
    font-size: 2rem;
}
footer nav {
    margin: 10px 0 10px 0;
}